{
    "extends": [
        "@justeat/eslint-config-fozzie",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-return-assign": "off",
        "import/prefer-default-export": "off"
    }
}